.sidebar-list-container {
  /* border-top: 1px solid lightgrey; */
  height: 533px;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
}

.sidebar-list-item {
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.sidebar-list-item:hover {
  /* background-color: rgb(229, 243, 255); */
  background-color: #e2e4ea;
}

.sidebar-list-item-icon {
  height: 23px;
  width: 23px;
  color: #44546f;
}

.sidebar-list-item-text {
  color: #44546f;
}
